<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="All about Mike Croall." />
    <title>About Mike Croall</title>

    <script defer type="text/javascript" src="jquery/jquery.min.js"></script>
    <script defer type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script defer type="text/javascript" src="js/index.js"></script>

    <style rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"></style>
    <style rel="stylesheet" type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            background-color: rgba(51, 51, 51, 1);
            text-align: center;
            font-family: Verdana;
        }

        .mainWrap {
            margin: 0;
            width: 100%;
            height: calc(100% - 50px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .emphasise {
            font-size: 1.1em;
            color: rgba(255, 255, 255, 0.9);
        }

        body {
            background-image: url("images/{{backgroundImage}}");
            background-repeat: no-repeat;
            background-size: 110%;
            background-position: 50% 50%;
        }

        @media (orientation: portrait) {
            body {
                background-size: auto 100%;
            }
        }

        p {
            border: 5px solid rgba(220, 220, 220, 0.8);
            padding: 20px;
            background-color: rgba(51, 51, 51, 0.6);
            color: rgba(220, 220, 220, 0.9);
            text-decoration: none;
            font-size: 2em;
            text-shadow: 5px 5px rgba(51, 51, 51, 0.5);
        }

        .img-circle {
            border-radius: 50%;
            border: 5px solid rgba(220, 220, 220, 0.8);
        }

        #wrapDynamicBackgroundChk {
            position: absolute;
            right: 5px;
            top: 55px;
            color: rgba(255, 255, 255, 1);
            text-shadow: 2px 2px rgba(51, 51, 51, 0.5);
        }

        .nav ul {
            list-style: none;
            background-color: rgba(68,68,68,0.5);
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .nav li {
            font-family: 'Oswald', sans-serif;
            font-size: 1.2em;
            line-height: 40px;
            height: 40px;
            border-bottom: 1px solid #888;
        }

        .nav a {
            text-decoration: none;
            color: #fff;
            display: block;
            transition: .3s background-color;
        }

        .nav a:hover {
            background-color: #005f5f;
        }

        .nav a.active {
            background-color: #fff;
            color: #444;
            cursor: default;
        }

        @media screen and (min-width: 600px) {
            .nav li {
                width: 120px;
                border-bottom: none;
                height: 50px;
                line-height: 50px;
                font-size: 1.4em;
            }

            /* Option 1 - Display Inline */
            .nav li {
                display: inline-block;
                margin-right: -4px;
            }

            /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
        }

        @font-face {
            font-family: 'icomoon';
            src: url('fonts/icomoon.eot?69pzyo');
            src: url('fonts/icomoon.eot?69pzyo#iefix') format('embedded-opentype'),
            url('fonts/icomoon.ttf?69pzyo') format('truetype'),
            url('fonts/icomoon.woff?69pzyo') format('woff'),
            url('fonts/icomoon.svg?69pzyo#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        [class^="icon-"],
        [class*=" icon-"] {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon-envelop:before {
            content: "\e945";
        }

        .icon-flickr3:before {
            content: "\eaa5";
        }

        .icon-github:before {
            content: "\eab0";
        }

        .icon-linkedin:before {
            content: "\eac9";
        }
    </style>
</head>

<body>
    <div class="nav">
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="about"><a class="active" href="#">About</a></li>
        </ul>
    </div>
    <div class="mainWrap">
        <div id="imageAndTextWrap">
            <img class="img-circle" src="images/{{mike.imageToShow}}" />
            <p>
                My name is <span class="emphasise">Mike</span>, and I'm <span class="emphasise">{{ mike.ageInYears }}</span> years old.
                <br> <span class="emphasise">Programming</span> and <span class="emphasise">Photography</span> are my two biggest passions.
                <br> I am currently studying <span class="emphasise">Computer Science</span> at the <span class="emphasise">University of Durham</span>, UK.
            </p>
        </div>
        <div id="wrapDynamicBackgroundChk">
            <input type="checkbox" checked id="chkBackground">Dynamic background</input>
        </div>
    </div>
</body>

</html>
